
.working_img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width:300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.coonet_btn {
    text-align: center;
}

.working_btn {
    width: 200px;
    height: 50px;
    border: 1px solid rgb(105, 102, 102);
    border-radius: 0px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s all;
    background: transparent;
    color: #181717;
}

.working_btn:hover {
    color: #fffefe;
    background: #000;
}

@media(max-width:1200px) {
    .process_image {
        background: none;
    }

    .working_process_step {
        width: 100%;
        height: 330px;
        background-color: #fff;
        padding: 1rem;
    }
}

@media(max-width:1200px) {
    .process_image {
        background: none;
    }

    .working_process_step {
        width: 100%;
        height: 320px;
        background-color: #fff;
        padding: 1rem;
    }
}

/* testimonials page start */
.testimonials {
    background: linear-gradient(270deg, #FF9D42 0%, #FF6069 50.91%, #B16CEA 100%);
}

.quote h2 {
    font-size: 34px;
    font-weight: 700;
    color: #fff;
}

.quote h3 {
    font-size: 24px;
    padding-top: 2rem;
    font-weight: 600;
    color: #fff;
}

.quote p {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}


@media(max-width:576px) {
    .quote h2 {
        font-size: 24px;
        font-weight: 600;
    }
    
    .quote h3 {
        font-size: 16px;
        padding-top: 1rem;
        font-weight: 600;
        color: #fff;
    }
    .quote p {
        font-size: 12px;
        font-weight: 500;
        color: #fff;
    }
}




/* pricing page start */
.pricing_heading h1{
   text-align: center;
   font-size: 65px;
    font-weight: 700;
    color: #585454; 
}
.p_basic {
    height: 340px;
    width: 340px;
    background: #E9F0F5;
    text-align: center;
    padding-top: 2rem;
}

.p_basic p {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.p_basic h3 {
    font-size: 22px;
    font-weight: 600;
    color: #000;
}

.p_basic h4 {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.p_basic h1 {
    font-size: 45px;
    padding-top: 2rem;
    font-weight: 700;
    color: #000;
    padding-bottom: 1.5rem;
}

.p_basic h1 span {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.pricing_btnb {
    width: 200px;
    height: 50px;
    border: 1px solid rgb(105, 102, 102);
    border-radius: 0px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s all;
    background: transparent;
    color: #181717;
}

.pricing_btnb:hover {
    color: #fffefe;
    background: #000;
}

.p_standard {
    height: 340px;
    width: 340px;
    background: #000000;
    text-align: center;
    padding-top: 2rem;
}

.p_standard p {
    font-size: 16px;
    font-weight: 600;
    color: #fcf8f8;
}

.p_standard h3 {
    font-size: 22px;
    font-weight: 600;
    color: #f7f3f3;
}

.p_standard h4 {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
  
}

.p_standard h1 {
    font-size: 45px;
    padding-top: 2rem;
    font-weight: 700;
    color: #fffafa;
    padding-bottom: 1.5rem;
    background: linear-gradient(270deg, #FF9D42 0%, #FF6069 50.91%, #B16CEA 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.p_standard h1 span {
    font-size: 20px;
    font-weight: 600;
}

.pricing_btns {
    width: 200px;
    height: 50px;
    border: 1px solid rgb(255, 253, 253);
    border-radius: 0px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s all;
    background: transparent;
    color: #fffcfc;
}

.pricing_btns:hover {
    color: #161515;
    background: #ffffff;
    border: 1px solid rgb(255, 253, 253);
}

.p_premium {
    height: 340px;
    width: 340px;
    background:#FFE6E9;
    text-align: center;
    padding-top: 2rem;
}

.p_premium p {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.p_premium h3 {
    font-size: 22px;
    font-weight: 600;
    color: #000;
}

.p_premium h4 {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.p_premium h1 {
    font-size: 45px;
    padding-top: 2rem;
    font-weight: 700;
    color: #000;
    padding-bottom: 1.5rem;
}

.p_premium h1 span {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.pricing_btnp {
    width: 200px;
    height: 50px;
    border: 1px solid rgb(105, 102, 102);
    border-radius: 0px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s all;
    background: transparent;
    color: #181717;
}

.pricing_btnp:hover {
    color: #fffefe;
    background: #000;
}

@media(max-width:1200px) {
    .p_premium ,.p_standard,.p_basic{
        height: 340px;
        width: 100%;
    }
}


  /* recent blog page start */
  .blog_heading h1{
    font-size: 40px;
    color: #000;
    font-weight: 700;
  }
.blog_link{
    width: 150px;
    height: 50px;
    border: 1px solid rgb(105, 102, 102);
    border-radius: 0px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.1s all;
    background: transparent;
    color: #181717;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog_link:hover{
    color: #fffefe;
    background: #5303e9; 
}
.blog_link a{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.blog_link a:hover{
    color: #fffefe;
}
  .blog_card p{
    font-size: 22px;
    background: linear-gradient(270deg, #FF9D42 0%, #FF6069 50.91%, #B16CEA 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
    padding-top: 1rem;
  }

  .blog_card h3{
    font-size: 36px;
    color: #000;
    font-weight: 600;
  }
  .blog_img{
    overflow: hidden;
  }
  .blog_card{
    overflow: hidden;
  }
  .blog_img img{
    overflow: hidden;
    transition: 0.7s all;
  }
  .blog_img img:hover{
    transform: scale(1.1);
  }
 /* footer page start */
.footer_bg{
    background: #000;
}
  .footer_main{
   background:  linear-gradient(270deg, #FF9D42 0%, #FF6069 50.91%, #B16CEA 100%);
   padding: 4rem 2rem;
  }

  .footer_call_btn{
    width: 200px;
    height: 50px;
    border: 1px solid rgb(105, 102, 102);
    border-radius: 0px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s all;
    background: t#fff;
    color: #181717;
  }
  .footer_call_btn:hover{
    color: #fffefe;
    background: #080808; 
}
.footer_heading h1{
    font-size: 60px;
    color: #fff;
    font-weight: 800;
    padding-top: 2rem;
}
.footer_right h4{
    font-size: 22px;
    color: #fff;
    font-weight: 800;
    padding-top: 2rem;
}
.copyright p{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}
.footer_logo a h3{
    background: linear-gradient(270deg, #FF9D42 0%, #FF6069 50.91%, #B16CEA 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 36px;
    font-weight: 700;
}

.fa-facebook,.fa-x-twitter,.fa-linkedin{
    font-size: 22px;
    color:rgb(255, 255, 255) ;
    margin-left: 1rem;
}

@media(max-width:991px) {
    .fa-facebook,.fa-x-twitter,.fa-linkedin{
        font-size: 12px;
        color:rgb(255, 255, 255) ;
        margin-left: .2rem;
    }
}
@media(max-width:576px) {
    .copyright p{
        font-size: 16px;
    }
    .footer_logo a h3{
        font-size: 18px;
    }
}
